<!--头部-->
<ion-header-bar class="bar arb-header bar-light bar-positive">
	<button class="button button-large button-clear  ion-reply" ng-click="tabs()">返回</button>
	<h2 class="title">标题</h2>
	<!--<button class="button button-clear button-large ion-gear-b">设置</button>-->
</ion-header-bar>
<ion-content>
	<a href="" class="item" style="background-image: url(../img/1.jpg);background-size: cover;height: 80px;"></a>
	<h3 class="title">{{htmlNews.title}}</h3>
	<p><span>{{htmlNews.pubDate}}</span>&nbsp;<span>{{htmlNews.source}}</span></p>
	<p>{{htmlNews.content}}</p>
</ion-content>